In [1]:
import pandas as pd
import os

In [3]:
# loading the data
df = pd.read_csv("../data_given/winequality.csv")

# checking ht ehead
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
# chekcing the columns
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'TARGET'],
      dtype='object')

In [8]:
# description
describe = df.describe() # another dataframe

In [10]:
describe.loc[["min", "max"]].to_json("schema_in.json")

#### Creating custome error

In [19]:
# raiseing customize error
class NotInRange(Exception):
    def __init__(self, message="Values are not in range"):
            # self.input_ = input_
            self.message = message
            super().__init__(self.message)

In [20]:
raise NotInRange

NotInRange: Values are not in range